<section class="IDEAS_LIST___ONLY_TITLE_LIST" data-transition="$slide.getTransition()" data-background="$slide.getBackground()" data-background-transition="$slide.getTransition()">
<h2 class="updated" id="data-slide_title">$slide.getTitle()</h2>
<div id="slide_holder" data-number_of_circles="$slide.getList().getItems().size()">
<div id="text1" data-text="Kamini" style='display:none' />
 <script type="text/javascript">
        var svgNS="http://www.w3.org/2000/svg";
        var number_of_item;
        var flag_circle=0;
        var ani_circle=[];
        function initSlide()
        {
            var killbill  = document.getElementById("slide_holder");
            number_of_item = killbill.getAttribute('data-number_of_circles');
            var i;
            var circle_x_axis_alignment=150;
            var circle_y_axis_alignment=150;

            //ani_Circle1_x. Variable to animate the Circle 1 along x axis
            var ani_Circle1_x=document.createElementNS(svgNS,"animate");

            //ani_Circle1_y. Variable to animate the Circle 1 along y axis
            var ani_Circle1_y=document.createElementNS(svgNS,"animate");

            //ani_Circle2_x. Variable to animate the Circle 2 along x axis
            var ani_Circle2_x=document.createElementNS(svgNS,"animate");


            //ani_Circle2_y. Variable to animate the Circle 2 along y axis
            var ani_Circle2_y=document.createElementNS(svgNS,"animate");

            //ani_Circle3_x. Variable to animate the Circle 3 along x axis
            var ani_Circle3_x=document.createElementNS(svgNS,"animate");

            //ani_Circle3_y. Variable to animate the Circle 3 along y axis
            var ani_Circle3_y=document.createElementNS(svgNS,"animate");

            //ani_Circle4_x. Variable to animate the Circle 4 along x axis
            var ani_Circle4_x=document.createElementNS(svgNS,"animate");

            //ani_Circle4_y. Variable to animate the Circle 4 along y axis
            var ani_Circle4_y=document.createElementNS(svgNS,"animate");

            //ani_Circle5_x. Variable to animate the Circle 5 along x axis
            var ani_Circle5_x=document.createElementNS(svgNS,"animate");

            //ani_Circle5_y. Variable to animate the Circle 5 along y axis
            var ani_Circle5_y=document.createElementNS(svgNS,"animate");



            if(number_of_item<=0 || number_of_item>10){
                window.alert(number_of_item)

            }
            else
            {
                if(flag_circle==0){
                    for (i = 1; i <= number_of_item; i++) {

                        var myCircle = document.createElementNS(svgNS, "circle");


                        myCircle.setAttributeNS(null, "id", "mycircle" + i);
                        myCircle.setAttributeNS(null, "cx", circle_x_axis_alignment);
                        myCircle.setAttributeNS(null, "cy", circle_y_axis_alignment);
                        myCircle.setAttributeNS(null, "r", 80);
                        myCircle.setAttributeNS(null, "fill", "black");
                        myCircle.setAttributeNS(null, "stroke", "green");
                        myCircle.setAttributeNS(null, "stroke-width", 5);

                        //Assigning each Circle ID to a new array and suing it later for animation.
                       // ani_circle = myCircle.getAttributeNS(null, "id", "myCircle" + i);
                        ani_circle=i;
                       // window.alert(ani_circle);

                        //To move the circles to next line if they are more than 5.
                        circle_x_axis_alignment = circle_x_axis_alignment + 180;
                        if (circle_x_axis_alignment > 750) {
                            circle_x_axis_alignment = 180;
                            circle_y_axis_alignment = 330;
                        }
                        flag_circle = i;

                        //First Circle Animation
                        if (i==1) {
                            //window.alert("Inside First Circle");

                            //Animation for cx. To move the first circle in x axis to align to the funnel
                            ani_Circle1_x.setAttributeNS(null,"attributeName","cx");
                            ani_Circle1_x.setAttributeNS(null,"attributeType","xml");
                            ani_Circle1_x.setAttributeNS(null,"type","translate");
                            ani_Circle1_x.setAttributeNS(null,"from","150");
                            ani_Circle1_x.setAttributeNS(null,"to","526");
                            ani_Circle1_x.setAttributeNS(null,"begin","2s");
                            ani_Circle1_x.setAttributeNS(null,"dur","2s");
                            ani_Circle1_x.setAttributeNS(null,"fill","freeze");
                            myCircle.appendChild(ani_Circle1_x);


                            //Animation for cy. To move the first circle in y axis to align to the funnel
                            ani_Circle1_y.setAttributeNS(null,"attributeName","cy");
                            ani_Circle1_y.setAttributeNS(null,"attributeType","xml");
                            ani_Circle1_y.setAttributeNS(null,"type","translate");
                            ani_Circle1_y.setAttributeNS(null,"from","150");
                            ani_Circle1_y.setAttributeNS(null,"to","1007");
                            ani_Circle1_y.setAttributeNS(null,"begin","2s");
                            ani_Circle1_y.setAttributeNS(null,"dur","2s");
                            ani_Circle1_y.setAttributeNS(null,"fill","freeze");
                            myCircle.appendChild(ani_Circle1_y);

                        }

                        //Second Circle Animation
                        if (i==2) {
                            //window.alert("Inside First Circle");

                            //Animation for cx. To move the second circle in x axis to align to the funnel
                            ani_Circle2_x.setAttributeNS(null,"attributeName","cx");
                            ani_Circle2_x.setAttributeNS(null,"attributeType","xml");
                            ani_Circle2_x.setAttributeNS(null,"type","translate");
                            ani_Circle2_x.setAttributeNS(null,"from","330");
                            ani_Circle2_x.setAttributeNS(null,"to","450");
                            ani_Circle2_x.setAttributeNS(null,"begin","4s");
                            ani_Circle2_x.setAttributeNS(null,"dur","2s");
                            ani_Circle2_x.setAttributeNS(null,"fill","freeze");
                            myCircle.appendChild(ani_Circle2_x);

                            //Animation for cy. To move the second circle in y axis to align to the funnel
                            ani_Circle2_y.setAttributeNS(null,"attributeName","cy");
                            ani_Circle2_y.setAttributeNS(null,"attributeType","xml");
                            ani_Circle2_y.setAttributeNS(null,"type","translate");
                            ani_Circle2_y.setAttributeNS(null,"from","150");
                            ani_Circle2_y.setAttributeNS(null,"to","863");
                            ani_Circle2_y.setAttributeNS(null,"begin","4s");
                            ani_Circle2_y.setAttributeNS(null,"dur","2s");
                            ani_Circle2_y.setAttributeNS(null,"fill","freeze");
                            myCircle.appendChild(ani_Circle2_y);

                        }

                        //Third Circle Animation
                        if (i==3) {
                            //window.alert("Inside First Circle");

                            //Animation for cx. To move the third circle in x axis to align to the funnel
                            ani_Circle3_x.setAttributeNS(null,"attributeName","cx");
                            ani_Circle3_x.setAttributeNS(null,"attributeType","xml");
                            ani_Circle3_x.setAttributeNS(null,"type","translate");
                            ani_Circle3_x.setAttributeNS(null,"from","510");
                            ani_Circle3_x.setAttributeNS(null,"to","610");
                            ani_Circle3_x.setAttributeNS(null,"begin","6s");
                            ani_Circle3_x.setAttributeNS(null,"dur","2s");
                            ani_Circle3_x.setAttributeNS(null,"fill","freeze");
                            myCircle.appendChild(ani_Circle3_x);

                            //Animation for cy. To move the third circle in y axis to align to the funnel
                            ani_Circle3_y.setAttributeNS(null,"attributeName","cy");
                            ani_Circle3_y.setAttributeNS(null,"attributeType","xml");
                            ani_Circle3_y.setAttributeNS(null,"type","translate");
                            ani_Circle3_y.setAttributeNS(null,"from","150");
                            ani_Circle3_y.setAttributeNS(null,"to","842");
                            ani_Circle3_y.setAttributeNS(null,"begin","6s");
                            ani_Circle3_y.setAttributeNS(null,"dur","2s");
                            ani_Circle3_y.setAttributeNS(null,"fill","freeze");
                            myCircle.appendChild(ani_Circle3_y);

                        }

                        if (i==4) {
                            //window.alert("Inside First Circle");

                            //Animation for cx. To move the fourth circle in x axis to align to the funnel
                            ani_Circle4_x.setAttributeNS(null,"attributeName","cx");
                            ani_Circle4_x.setAttributeNS(null,"attributeType","xml");
                            ani_Circle4_x.setAttributeNS(null,"type","translate");
                            ani_Circle4_x.setAttributeNS(null,"from","690");
                            ani_Circle4_x.setAttributeNS(null,"to","377");
                            ani_Circle4_x.setAttributeNS(null,"begin","8s");
                            ani_Circle4_x.setAttributeNS(null,"dur","2s");
                            ani_Circle4_x.setAttributeNS(null,"fill","freeze");
                            myCircle.appendChild(ani_Circle4_x);

                            //Animation for cy. To move the fourth circle in y axis to align to the funnel
                            ani_Circle4_y.setAttributeNS(null,"attributeName","cy");
                            ani_Circle4_y.setAttributeNS(null,"attributeType","xml");
                            ani_Circle4_y.setAttributeNS(null,"type","translate");
                            ani_Circle4_y.setAttributeNS(null,"from","150");
                            ani_Circle4_y.setAttributeNS(null,"to","716");
                            ani_Circle4_y.setAttributeNS(null,"begin","8s");
                            ani_Circle4_y.setAttributeNS(null,"dur","2s");
                            ani_Circle4_y.setAttributeNS(null,"fill","freeze");
                            myCircle.appendChild(ani_Circle4_y);

                        }

                        if (i==5) {
                            //window.alert("Inside First Circle");

                            //Animation for cx. To move the fifth circle in x axis to align to the funnel
                            ani_Circle5_x.setAttributeNS(null,"attributeName","cx");
                            ani_Circle5_x.setAttributeNS(null,"attributeType","xml");
                            ani_Circle5_x.setAttributeNS(null,"type","translate");
                            ani_Circle5_x.setAttributeNS(null,"from","180");
                            ani_Circle5_x.setAttributeNS(null,"to","540");
                            ani_Circle5_x.setAttributeNS(null,"begin","10s");
                            ani_Circle5_x.setAttributeNS(null,"dur","2s");
                            ani_Circle5_x.setAttributeNS(null,"fill","freeze");
                            myCircle.appendChild(ani_Circle5_x);

                            //Animation for cy. To move the fifth circle in y axis to align to the funnel
                            ani_Circle5_y.setAttributeNS(null,"attributeName","cy");
                            ani_Circle5_y.setAttributeNS(null,"attributeType","xml");
                            ani_Circle5_y.setAttributeNS(null,"type","translate");
                            ani_Circle5_y.setAttributeNS(null,"from","300");
                            ani_Circle5_y.setAttributeNS(null,"to","693");
                            ani_Circle5_y.setAttributeNS(null,"begin","10s");
                            ani_Circle5_y.setAttributeNS(null,"dur","2s");
                            ani_Circle5_y.setAttributeNS(null,"fill","freeze");
                            myCircle.appendChild(ani_Circle5_y);

                        }

                        document.getElementById("mySVG").appendChild(myCircle);

                }
                }
                else
                {
                    window.alert("Circles have already appeared");
                }

            }




        }
        /* Dynamic Text Boxes to input text*/

        var flag_dynamic_text_boxes=0;

        function dynamic_text_boxes() {

           // var number_of_text = document.getElementById("number_of_item").value;
            var i;

            if(flag_dynamic_text_boxes==0)
            {
                var foo = document.getElementById("text_box");
                for (i = 1; i <=number_of_item; i++) {
                    var element = document.createElement("input");
                    element.setAttribute("type", "text");
                    element.setAttribute("id","text"+i);
                    element.setAttribute("placeholder","Circle " +i+ " text");

                    foo.appendChild(element);
                    flag_dynamic_text_boxes=i;
                }
            }

            else
            {
                window.alert("Text Boxes are already generated");
            }

        }




        var new_text_arr=[];

        /* Function which converts the Javascript Text to SVG Text*/

        var flag_textCircle=0;
        function textCircle()
        {
           // var number_of_text=document.getElementById("number_of_item").value;
            var i;
            var text_x_axis_alignment=150;
            var text_y_axis_alignment=150;

            if(flag_textCircle==0)
            {
                    for(i=1;i<=number_of_item;i++)
                    {
                        var myText=document.createElementNS(svgNS,"text");
                        myText.setAttributeNS(null,"id","mytext"+i);
                        myText.setAttributeNS(null,"x",text_x_axis_alignment);
                        myText.setAttributeNS(null,"y",text_y_axis_alignment);

                        myText.setAttributeNS(null,"fill","yellow");
                        myText.setAttributeNS(null,"text-anchor","middle");
                        myText.setAttributeNS(null,"inline-size",1);
                        myText.setAttributeNS(null,"width","4em");
                        myText.setAttributeNS(null,"word-wrap","break-word");
                        myText.setAttributeNS(null,"wrap",50);
                      //  myText.setAttributeNS(null,"text-rendering","optimizeLegibility");
                       // myText.setAttributeNS(null,"text-align","justify");
                       // myText.setAttributeNS(null,"shape-inside","inset(20px 10px 20px 10px)");

                        new_text_arr=document.getElementById("text"+i).value;
                        var textNode=document.createTextNode(new_text_arr);
                        var textlength=textNode.length;

                        var myTspan=document.createElementNS(svgNS,"tspan");

                        myTspan.setAttributeNS(null,"x",text_x_axis_alignment);
                        myTspan.setAttributeNS(null,"y",text_y_axis_alignment);
                        myTspan.setAttributeNS(null,"width","4em");
                        myTspan.setAttributeNS(null,"text-rendering","optimizeLegibility");
                        myTspan.setAttributeNS(null,"text-align","justify");


                        if(textlength>7)
                        {
                            myText.setAttributeNS(null,"font-size","18px");
                            //textNode.splitText(7);
                            //textNode.wholeText.slice(7);
                        }
                        else
                        {
                            myText.setAttributeNS(null,"font-size","25px");
                        }

                       // window.alert(textlength);
                        myText.appendChild(textNode);
                        document.getElementById("mySVG").appendChild(myText);
                        document.getElementById("mySVG").appendChild(myTspan);
                        document.getElementById("mySVG").insertBefore(myText,myTspan).appendChild(myTspan);
                        text_x_axis_alignment=text_x_axis_alignment+150;
                        if(text_x_axis_alignment>750)
                        {
                            text_x_axis_alignment=150;
                            text_y_axis_alignment=300;
                        }
                        flag_textCircle=i;
                    }

            }
            else
            {
                window.alert("Values are already entered");
            }

        }

    </script>
            <svg id="mySVG" width="1080" height="1500">

                <!-- Funnel Cone-->
                <polygon points="200,550 525,1200 850,550"
                         fill="rgb(222,184,135)" stroke-width="5" >
                    <animate attributeName="fill" attributeType="XML" id=""
                             from="rgb(222,184,135)"  to="rgb(0,125,125)"
                             begin="12s" dur="2s"
                             fill="freeze" repeatCount="1"/>
                </polygon>

                <!--Cone Top Oval-->
                <ellipse cx="525" cy="545" rx="328" ry="50" fill="rgb(205,133,63)" opacity="1"/>


                <ellipse cx="525" cy="1200" rx="23.5" ry="30"
                         style="fill:rgb(102,205,170);stroke:purple;stroke-width:2" >
                    <animate attributeName="cy" attributeType="XML" id="fifth_circle_x"
                             from="1280"  to="1400"
                             begin="14s" dur="2s"
                             fill="remove" repeatCount="6"/>
                    <animate attributeName="rx" attributeType="XML" id="fifth_circle_x"
                             from="23.5"  to="50"
                             begin="14s" dur="2s"
                             fill="remove" repeatCount="6"/>

                    <animate attributeName="ry" attributeType="XML" id="fifth_circle_x"
                             from="30"  to="72"
                             begin="14s" dur="2s"
                             fill="remove" repeatCount="6"/>
                </ellipse>

                <!--Bottom Rectangle Funnel Exit-->
                <rect width="50" height="120"  x="500" y="1150" style="fill:rgb(222,184,135);stroke-width:2;" >
                    <animate attributeName="fill" attributeType="XML" id=""
                             from="rgb(222,184,135)"  to="rgb(0,125,125)"
                             begin="12s" dur="2s"
                             fill="freeze" repeatCount="1"/>
                </rect>
            </svg>

</div>

<aside class="notes">
       Teacher Notes - $slide.getTeacherNotes()
     </aside>
</section>