<section class="ONLY_TITLE_TABLE" data-transition="$slide.getTransition()" data-background="$slide.getBackground()" data-background-transition="$slide.getTransition()">
	<h2>$slide.getTitle()</h2>
	<table class="sticky-enabled">
		<tbody> 
			#foreach( $row in $slide.getTable().getRows() )
			<tr>
				#foreach( $cell in $row.getCells() )
					<td>$cell</td>
				#end
			#end
		</tbody>
	</table>
</section>