<section class="ONLY_TITLE" data-transition="$slide.getTransition()" data-background="$slide.getBackground()" 
data-background-transition="$slide.getBackgroundTransition()">
	<p>$slide.getTitle()</p>
</section>