<section class="ONLY_TITLE_IMAGE" data-transition="$slide.getTransition()" data-background="$slide.getBackground()" data-background-transition="$slide.getTransition()">
	<p class="updated" id="data_slide_title">$slide.getTitle()</p>
	<img class="updated" id="data_image_url" src='$slide.getImage().getUrl()'>
	
	<aside class="notes">
       Teacher Notes - $slide.getTeacherNotes()
     </aside>
</section>