<section class="ONLY_TITLE_TABLE_PARAGRAPH" data-transition="$slide.getTransition()" data-background="$slide.getBackground()" data-background-transition="$slide.getTransition()">
	<h2>$slide.getTitle()</h2>
	<table class="sticky-enabled">
		<tbody> 
			#foreach( $row in $slide.getTables().get(0).getRows() )
			<tr>
				#foreach( $cell in $row.getCells() )
					<td>$cell</td>
				#end
			#end
		</tbody>
	</table>
	<p>$slide.getParagraph()</p>
	
	<aside class="notes">
       Teacher Notes - $slide.getTeacherNotes()
     </aside>
</section>