<section class="ONLY_TITLE_LIST" data-transition="$slide.getTransition()" data-background="$slide.getBackground()" data-background-transition="$slide.getTransition()">
	<h2 class="updated" id="data_slide_title">$slide.getTitle()</h2>
	<ol>
		#foreach( $item in $slide.getList().getItems() )
			<li  id="data_list_item_$foreach.count" class="updated fragment fade-up" >$item.getText()</li>
	 	 #end
	</ol>
	
	<aside class="notes">
       Teacher Notes - $slide.getTeacherNotes()
     </aside>
</section>