<section class="ONLY_TITLE_LIST" data-transition="$slide.getTransition()" data-background="#ffffff" 
data-background-transition="$slide.getTransition()" >
	<h2>$slide.getTitle()</h2>
	<ol>
		#foreach( $item in $slide.getList().getItems() )
			<li class="fragment fade-up" >$item.getText()</li>
	 	 #end
	</ol>
	
	<aside class="notes">
       Teacher Notes - $slide.getTeacherNotes()
     </aside>
</section>