<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>istar_student</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MediaUploadController</display-name>
    <servlet-name>MediaUploadController</servlet-name>
    <servlet-class>com.istarindia.cms.controller.MediaUploadController</servlet-class>
    <init-param>
      <description>Define storage path for image uploads</description>
      <param-name>upload_path</param-name>
      <param-value>C:\\Users\\vaibhav\\Pictures\\</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MediaUploadController</servlet-name>
    <url-pattern>/media_upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackgroundMediaController</display-name>
    <servlet-name>BackgroundMediaController</servlet-name>
    <servlet-class>com.istarindia.cms.controller.BackgroundMediaController</servlet-class>
    <init-param>
      <description>Define storage path for background image uploads</description>
      <param-name>bg_upload_path</param-name>
      <param-value>C:\\Users\\vaibhav\\Pictures\\</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackgroundMediaController</servlet-name>
    <url-pattern>/bg_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandoutMediaController</display-name>
    <servlet-name>HandoutMediaController</servlet-name>
    <servlet-class>com.istarindia.cms.controller.HandoutMediaController</servlet-class>
    <init-param>
      <description>Define storage path for background image uploads</description>
      <param-name>handout_media_upload_path</param-name>
      <param-value>C:\\Users\\vaibhav\\Pictures\\</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandoutMediaController</servlet-name>
    <url-pattern>/handout_media_controller</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>ImageFilter</filter-name>
    <filter-class>com.istarindia.app.filters.ImageFilter</filter-class>
    <init-param>
      <param-name>deployment_type</param-name>
      <param-value>prod11</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ImageFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
    <!-- Uncaught exception -->
    <error-code>500</error-code>
    <location>/exception_handler</location>
  </error-page>
  <session-config>
	<session-timeout>1440</session-timeout>
  </session-config>
</web-app>