<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>istar_content</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MediaUploadController</display-name>
    <servlet-name>MediaUploadController</servlet-name>
    <servlet-class>com.istarindia.cms.controller.MediaUploadController</servlet-class>
    <init-param>
      <description>Define storage path for file uploads</description>
      <param-name>upload_path</param-name>
      <param-value>C:/Users/vaibhav/Pictures/media_library/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MediaUploadController</servlet-name>
    <url-pattern>/media_upload</url-pattern>
  </servlet-mapping>
</web-app>