<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu>
    <parent_links display_name="Course">
        <child_links display_name="View Course Structure" url="/content/content_admin/course_structure.jsp" valid_roles="content_admin"/>
    </parent_links>
    <parent_links display_name="Lesson">
        <child_links display_name="Create Lesson" url="/content/lesson/new_lesson.jsp" valid_roles="content_admin,content_creator"/>

    	<child_links display_name="Published Lesson" url="/content/published_lesson" valid_roles="content_admin,content_creator,content_reviewer"/>
    </parent_links>
    <parent_links display_name="Task">
    <child_links display_name="Create Task" url="/content/media/create_task.jsp" valid_roles="content_creator"/>
    <child_links display_name="Created" url="/content/created_lesson" valid_roles="content_admin"/>
    	<child_links display_name="Inprogress" url="/content/draft_lesson" valid_roles="content_admin"/>
    	<child_links display_name="Completed" url="/content/completed_lesson" valid_roles="content_admin"/>
    	<child_links display_name="Not Reviewed" url="/content/review_pending" valid_roles="content_admin"/>
    	<child_links display_name="Requested to Publish" url="/content/not_published" valid_roles="content_admin"/>
    	
    	
		<child_links display_name="Assigned" url="/content/lesson_assigned" valid_roles="content_creator"/>
    	<child_links display_name="Inprogress" url="/content/draft_lesson_creator" valid_roles="content_creator"/>
    	<child_links display_name="Disapproved" url="/content/lesson_disapproved" valid_roles="content_creator"/>
    	<child_links display_name="Approved" url="/content/approved_lesson_creator" valid_roles="content_creator"/>
    	
    	<child_links display_name="Assigned" url="/content/lesson_assigned_reviewer" valid_roles="content_reviewer"/>
    	<child_links display_name="Disapproved" url="/content/task_disapproved_for_reviewer" valid_roles="content_reviewer"/>
    	
    	<child_links display_name="Created" url="/content/created_media_content_creator" valid_roles="content_creator"/>
    	
    	
    	<child_links display_name="Creative Not Assigned" url="/content/creative_admin/assign_creative.jsp" valid_roles="creative_admin"/>
    	<child_links display_name="Inprogress" url="/content/task_draft_creative_admin" valid_roles="creative_admin"/>
    	<child_links display_name="Not reviewed" url="/content/completed_media_creative_admin" valid_roles="creative_admin"/>
    	
    	

    	<child_links display_name="Assigned" url="/content/assigned_media" valid_roles="creative_creator"/>
		<child_links display_name="Inprogress" url="/content/draft_media" valid_roles="creative_creator"/>
 		<child_links display_name="Not reviewed" url="/content/completed_media" valid_roles="creative_creator"/>
 		<child_links display_name="Disapproved" url="/content/disapproved" valid_roles="creative_creator"/>
 		
 		
    </parent_links>
  <parent_links display_name="Folder">
        <child_links display_name="Create Folder" url="/content/creative_admin/new_folder.jsp" valid_roles="creative_admin"/>
    	
    	
    </parent_links>
   <parent_links display_name="Media">
        <child_links display_name="Published Media" url="/content/published_media_creative_creator" valid_roles="creative_admin,creative_creator,content_creator,content_admin"/>
    <child_links display_name="Gallery"
			url="/content/gallery.jsp" valid_roles="creative_admin,creative_creator,content_creator" />
    </parent_links>
   
    
     <parent_links display_name="My Account">
        
    	<child_links display_name="Dashboard" url="/content/content_admin/dashboard.jsp" valid_roles="content_admin"/>	
    	<child_links display_name="Dashboard" url="/content/content_creator/dashboard.jsp" valid_roles="content_creator"/>	
    	<child_links display_name="Dashboard" url="/content/content_reviewer/dashboard.jsp" valid_roles="content_reviewer"/>	
    	     	<child_links display_name="Dashboard" url="/content/creative_creator/dashboard.jsp" valid_roles="creative_creator"/>
    	     	    	<child_links display_name="Dashboard" url="/content/creative_admin/dashboard.jsp" valid_roles="creative_admin"/>   	
    	    	<child_links display_name="Logout" url="/content/auth/logout" valid_roles="content_admin,content_creator,content_reviewer,creative_admin,creative_creator"/>	
    	
    </parent_links>
   
   
</menu>