<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu>
	<!-- Added By Kunal -->
	<!-- <parent_links display_name="Batch"> <child_links display_name="View 
		Batch-groups" url="/content/batch_controller?_action=findallbatchgrps" valid_roles="content_admin"/> 
		<child_links display_name="Create Batch-groups" url="/content/batch_controller?_action=createbatchgrp" 
		valid_roles="content_admin"/> </parent_links> <parent_links display_name="Event 
		Listing"> <child_links display_name="All Event Listing" url="/content/event_controller?_action=findall" 
		valid_roles="content_admin" /> <child_links display_name="Event Listing for 
		Today" url="/content/event_controller?_action=findbydate" valid_roles="content_admin" 
		/> <child_links display_name="Event Listing for Week" url="/content/event_controller?_action=findbyweek" 
		valid_roles="content_admin" /> <child_links display_name="Event Listing for 
		Month" url="/content/event_controller?_action=findbymonth" valid_roles="content_admin" 
		/> </parent_links> -->
	<!-- <parent_links display_name="Session Listing"> <child_links display_name="All 
		Session Listing" url="/content/session_controller?_action=findall" valid_roles="content_admin" 
		/> </parent_links> <parent_links display_name="Tests Listing"> <child_links 
		display_name="All Tests Listing" url="/content/tests_controller?_action=findall" 
		valid_roles="content_admin" /> </parent_links> -->

	<!-- Added by Kunal ends -->
	<parent_links display_name="Course">
		<child_links display_name="View Course Structure" url="/content/content_admin/course_structure.jsp" valid_roles="content_admin,content_reviewer,content_creator,creative_creator" />
		<child_links display_name="View Learning Objectives" url="/content/content_admin/course_learning_objectives.jsp" valid_roles="content_admin,content_creator" />
		<child_links display_name="Modify Course details" url="/content/content_admin/course_list.jsp"
			valid_roles="content_admin,content_creator" />
	</parent_links>
	
	<parent_links display_name="Doubt">
		<child_links display_name="Doubt List"
			url="/content/content_admin/doubt_list.jsp" valid_roles="content_admin,content_creator" />
		
	</parent_links>

	<parent_links display_name="Lesson">
		<child_links display_name="Create Lesson" url="/content/lesson/new_lesson.jsp"
			valid_roles="content_admin,content_creator,creative_creator" />
		<child_links display_name="Assessment List"
			url="/content/content_creator/assessments.jsp" valid_roles="content_admin,content_creator" />
		<child_links display_name="Published Lesson"
			url="/content/content_admin/published_lesson.jsp" valid_roles="content_admin" />
		<child_links display_name="Published Lesson"
			url="/content/content_creator/published_lesson.jsp" valid_roles="content_creator" />
		<child_links display_name="Published Lesson"
			url="/content/content_reviewer/published_lesson.jsp" valid_roles="content_reviewer" />
			
			<child_links display_name="View/Edit/Create Handout"
			url="/content/content_creator/handouts.jsp" valid_roles="content_admin,content_creator" />
			
			<child_links display_name="View Handouts"
			url="/content/content_creator/view_handouts.jsp" valid_roles="content_admin,content_creator" />	
	</parent_links>
	
	
	
	<parent_links display_name="Task">
		<child_links display_name="Create Task" url="/content/media/create_task.jsp"
			valid_roles="content_admin,content_creator,creative_creator" />
		<child_links display_name="Created"
			url="/content/content_admin/created_lesson.jsp" valid_roles="content_admin,creative_admin" />
		<child_links display_name="Assigned"
			url="/content/content_admin/assigned.jsp" valid_roles="content_admin,creative_admin" />
		<child_links display_name="Inprogress"
			url="/content/content_admin/draft_lesson.jsp" valid_roles="content_admin,creative_admin" />
		<child_links display_name="Completed"
			url="/content/content_admin/completed_lesson.jsp" valid_roles="content_admin,creative_admin" />
		<child_links display_name="Not Reviewed"
			url="/content/content_admin/review_pending.jsp" valid_roles="content_admin,creative_admin" />
		<child_links display_name="Requested to Publish"
			url="/content/content_admin/not_published.jsp" valid_roles="content_admin,creative_admin" />

		<child_links display_name="Assigned"
			url="/content/content_creator/assigned_lesson.jsp" valid_roles="content_creator" />
		<child_links display_name="Inprogress"
			url="/content/content_creator/draft_lesson.jsp" valid_roles="content_creator" />
		<child_links display_name="Disapproved"
			url="/content/content_creator/disapproved_lesson.jsp" valid_roles="content_creator" />
		<child_links display_name="Approved"
			url="/content/content_creator/approved_lesson.jsp" valid_roles="content_creator" />

		<child_links display_name="Assigned"
			url="/content/content_reviewer/assigned_lesson.jsp" valid_roles="content_reviewer" />
		<child_links display_name="Disapproved"
			url="/content/content_reviewer/disapproved_lesson.jsp" valid_roles="content_reviewer" />

		<child_links display_name="Created Media"
			url="/content/content_creator/created_media.jsp" valid_roles="content_creator" />

		<child_links display_name="Creative Not Assigned"
			url="/content/creative_admin/assign_creative.jsp" valid_roles="creative_admin" />
		<child_links display_name="Assigned"
			url="/content/creative_admin/assigned.jsp" valid_roles="creative_admin" />
		<child_links display_name="Inprogress"
			url="/content/creative_admin/inprogress.jsp" valid_roles="creative_admin" />
		<child_links display_name="Not reviewed"
			url="/content/creative_admin/not_reviewed.jsp" valid_roles="creative_admin" />

		<child_links display_name="Lesson Assigned"
			url="/content/creative_creator/assigned.jsp" valid_roles="creative_creator" />
			<child_links display_name="Media Assigned"
			url="/content/creative_creator/assigned_media.jsp" valid_roles="creative_creator" />
		<child_links display_name="Inprogress Lesson"
			url="/content/creative_creator/inprogress.jsp" valid_roles="creative_creator" />
			<child_links display_name="Inprogress Media"
			url="/content/creative_creator/inprogress_media.jsp" valid_roles="creative_creator" />
		<child_links display_name="Not reviewed"
			url="/content/creative_creator/not_reviewed.jsp" valid_roles="creative_creator" />
		<child_links display_name="Disapproved Lesson"
			url="/content/creative_creator/disapproved.jsp" valid_roles="creative_creator" />
			<child_links display_name="Disapproved Media"
			url="/content/creative_creator/disapproved_media.jsp" valid_roles="creative_creator" />
		<child_links display_name="Approved Lesson"
			url="/content/creative_creator/approved.jsp" valid_roles="creative_creator" />
			<child_links display_name="Approved Media"
			url="/content/creative_creator/approved_media.jsp" valid_roles="creative_creator" />

	</parent_links>
	<parent_links display_name="Folder">
		<child_links display_name="Create Folder"
			url="/content/creative_admin/new_folder.jsp" valid_roles="creative_admin" />
	</parent_links>

	<parent_links display_name="Media">
		<child_links display_name="Published Media"
			url="/content/creative_admin/published.jsp" valid_roles="creative_admin" />
		<child_links display_name="Published Media"
			url="/content/creative_creator/published.jsp" valid_roles="creative_creator" />
		<child_links display_name="Gallery" url="/content/gallery.jsp"
			valid_roles="creative_admin,creative_creator,content_creator,content_admin" />
		<!-- <child_links display_name="Delete" url="/content/delete_media.jsp"
			valid_roles="creative_admin,creative_creator,content_creator,content_admin" />
		 -->	
		<child_links display_name="Backgrounds" url="/content/bg_controller"
			valid_roles="creative_admin,creative_creator,content_creator,content_admin" />
		<child_links display_name="Assessment Media" url="/content/assessment_media_controller"
			valid_roles="content_creator,content_admin,content_reviewer" />
			
			<child_links display_name="Create Theme"
			url="/content/creative_admin/create_theme.jsp" valid_roles="creative_admin,creative_creator,content_admin,content_creator" />
		<child_links display_name="List Themes"
			url="/content/creative_admin/view_themes.jsp" valid_roles="creative_admin,creative_creator,content_admin,content_creator" />
	</parent_links>

	

	<parent_links display_name="Trainer">
		<child_links display_name="Create"
			url="/content/trainer/create_user.jsp" valid_roles="creative_admin,creative_creator,content_creator,content_admin" />
		<child_links display_name="List Users/Trainers"
			url="/content/trainer/list_trainers.jsp" valid_roles="creative_admin,creative_creator,content_creator,content_admin" />
			
			<child_links display_name="List Companies"
			url="/content/trainer/list_companies.jsp" valid_roles="creative_admin,creative_creator,content_creator,content_admin" />
			
			<child_links display_name="List Companies"
			url="/content/trainer/list_ass.jsp" valid_roles="creative_admin,creative_creator,content_creator,content_admin" />
	</parent_links>
	<parent_links display_name="Report">
		<child_links display_name="Over All Report"
			url="/content/logs/over_all_data.jsp" valid_roles="creative_admin,creative_creator,content_creator,content_admin,content_reviewer" />
		<child_links display_name="Course Wise Report"
			url="/content/logs/course_wise_data.jsp" valid_roles="creative_admin,creative_creator,content_creator,content_admin,content_reviewer" />
		<child_links display_name="Session Wise Report"
			url="/content/logs/session_wise_data.jsp" valid_roles="creative_admin,creative_creator,content_creator,content_admin,content_reviewer" />
		<child_links display_name="Content Admin Report"
			url="/content/logs/content_admin_data.jsp" valid_roles="creative_admin,creative_creator,content_creator,content_admin,content_reviewer" />
		<child_links display_name="Content Creator Report"
			url="/content/logs/content_creator_data.jsp" valid_roles="creative_admin,creative_creator,content_creator,content_admin,content_reviewer" />
		<child_links display_name="Creative Admin Report"
			url="/content/logs/creative_admin_data.jsp" valid_roles="creative_admin,creative_creator,content_creator,content_admin,content_reviewer" />
		<child_links display_name="Creative Creator Report"
			url="/content/logs/creative_creator_data.jsp" valid_roles="creative_admin,creative_creator,content_creator,content_admin,content_reviewer" />
		<child_links display_name="Content Reviewer Report"
			url="/content/logs/content_reviewer_data.jsp" valid_roles="creative_admin,creative_creator,content_creator,content_admin,content_reviewer" />
</parent_links>
	

	<parent_links display_name="user_email">
		<child_links display_name="Dashboard"
			url="/content/content_admin/dashboard.jsp" valid_roles="content_admin" />
		<child_links display_name="Dashboard"
			url="/content/content_creator/dashboard.jsp" valid_roles="content_creator" />
		<child_links display_name="Dashboard"
			url="/content/content_reviewer/dashboard.jsp" valid_roles="content_reviewer" />
		<child_links display_name="Dashboard"
			url="/content/creative_creator/dashboard.jsp" valid_roles="creative_creator" />
		<child_links display_name="Dashboard"
			url="/content/creative_admin/dashboard.jsp" valid_roles="creative_admin" />
        <child_links display_name="View Profile" url="/content/task/profile.jsp" 
        	valid_roles="content_admin,content_creator,content_reviewer,creative_admin,creative_creator"/>
		<child_links display_name="Logout" url="/content/auth/logout"
			valid_roles="content_admin,content_creator,content_reviewer,creative_admin,creative_creator" />
	</parent_links>

</menu>