<header>Tempalate with only Title</header>
<fieldset>
	<section>
		<label class="label">Title</label>
		<label class="input">
			#if($slide.getTitle() )
			<input id="slide_title" class="updateble"   type="text" name="title" placeholder=" Please enter title" value="$slide.getTitle()">
			#else 
			<input id="slide_title" class="updateble"   type="text" name="title" placeholder=" Please enter title" >
			#end	
		</label>
	</section>
</fieldset>
<fieldset>
	<section>
		<label class="label">Textarea</label>
		<label class="textarea">
			#if($slide.getParagraph() )
			<textarea id="slide_paragraph" rows="3" class="updateble"    name="paragraph" placeholder=" Please enter text" > $slide.getParagraph()</textarea>
			#else 
			<textarea id="slide_paragraph" rows="3" class="updateble"    name="paragraph" placeholder=" Please enter text" value=""> </textarea>
			#end	
			
		</label>
		<div class="note"><strong>Note:</strong> This is where we will put in the paragraph.</div>
	</section>
</fieldset>