<header>Tempalate with only Title</header>
<fieldset>
	<section>
		<label class="label">Title</label>
		<label class="input">
			#if($slide.getTitle() )
			<input type="text" name="title" id="slide_title" class="updateble" placeholder=" Please enter title" value="$slide.getTitle()">
			#else 
			<input type="text" name="title"  id="slide_title" class="updateble" placeholder=" Please enter title" >
			#end			
		</label>
	</section>
	
	
	<section>
		<label class="label">Image URL </label>
		<label class="select" >
			<select class="updateble" name="image_url" id="image-picker">
				#foreach ($image in $images)
					<option id="$image.getId()" class="updateble" data-img-src="$image.getUrl()" value="$image.getId()">$image.getTitle()</option>
				#end
			</select>
		</label>
	</section>
							
							
	
</fieldset>
