<header>Tempalate with only Title</header>
<fieldset>
	<section>
		<label class="label">Title</label>
		<label class="input">
			#if($slide.getTitle() )
			<input type="text" name="title" id="slide_title" class="updateble" placeholder=" Please enter title" data-parsley-minlength="5" data-parsley-maxlength="15" data-parsley-minlength-message="Title should be at least 5 characters long " data-parsley-maxlength-message="Title should be less than 15 characters long" data-parsley-required="true" data-parsley-required-message="Title is mandatory*"value="$slide.getTitle()">
			#else 
			<input type="text" name="title"  id="slide_title" class="updateble" placeholder=" Please enter title" data-parsley-minlength="5" data-parsley-maxlength="15" data-parsley-minlength-message="Title should be at least 5 characters long " data-parsley-maxlength-message="Title should be less than 15 characters long" data-parsley-required="true" data-parsley-required-message="Title is mandatory*" >
			#end			
		</label>
	</section>
	
	
	<section>
		<label class="label">Image URL </label>
		<label class="select" >
			<select class="updateble" name="image_url" id="image-picker">
				#foreach ($image in $images)
					<option id="$image.getId()" class="updateble" data-img-src="$image.getUrl()" value="$image.getId()">$image.getTitle()</option>
				#end
			</select>
		</label>
	</section>
							
							
	
</fieldset>
